html{
	padding: env(safe-area-inset);
	padding: constant(safe-area-inset);
	-webkit-touch-callout:none;
	-webkit-touch-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-user-select:none;
	-webkit-tap-highlight-color:transparent;
	touch-action: manipulation;
}
body{
	position:fixed;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
div.canvas_wrapper{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}
canvas{
    display:block;
	margin:0 auto;
}